
#container {
    height: 300px;
    width: 100%;
    top: 60px;
    left: calc(50% - 300px);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .card {
    display: flex;
    height: 180px;
    width: 100px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: -.5rem 0 .5rem #000;
  /*   margin-left: -50px; */
    transition: 0.4s ease-out;
    position: relative;
    left: 0px;
  }

  .card img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
  }
  
  .card:not(:first-child) {
      margin-left: -50px;
  }
  
  .card:hover {
    transform: translateY(-20px);
    transition: 0.4s ease-out;
  }
  
  .card:hover ~ .card {
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
  }
  
  .cardTitle {
    color: black;
    font-weight: 300;
    position: absolute;
    left: 20px;
    top: 15px;
  }
 
